<form method="POST" action="">
<table>
<tr>
	<th>Index</th>
	<th>Register</th>
	<th>Type</th>
	<th>Value</th>
</tr>
{{#each registers}}
<tr>
	<td>{{@index}}</td>
	<td><code>{{name}}</code></td>
	<td>
	<select name="type{{@index}}">
		{{#each types}}
		<option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
		{{/each}}
	</select>
	</td>
	<td><input type="text" name="value{{@index}}" {{#if value}}value="{{value}}"{{/if}}/></td>
</tr>
{{/each}}
</table>
<p>Enter valid ARM assembly code below. The server will attempt to execute the function <code>test</code> with the arguments specified above.</p>
<textarea name="code" rows="15" cols="50">{{code}}</textarea>
<p><button>Run</button></p>
{{#if result}}
<p>Result code: {{result}}</p>
{{/if}}
{{#if out}}
<pre>
{{out}}
</pre>
{{/if}}
</form>
